<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header>
      <nav><%- include("./partials/navigation");%></nav>
      <%- include('./partials/header'); %>
    </header>
    <main><%- include("./partials/search-form");%></main>
    <footer><%- include("./partials/footer"); %></footer>
  </body>
</html>
