<div id="home-page">
  <header>
    <nav><%- include("./partials/navigation");%></nav>
    <%- include('./partials/header'); %>
  </header>

  <main>
    <%- include("./partials/search-form");%>
    <!--fet all existing category-->
    <%-
    include("./partials/resource-list");%>
  </main>
  <footer><%- include("./partials/footer"); %></footer>
</div>
<script src="/scripts/main.js"></script>
