<div id="home-page">
  <header>
    <nav><%- include("./partials/navigation");%></nav>
    <%- include('./partials/header'); %>
  </header>
  <main>
    <%- include("./partials/search-form");%> <%-
    include("./partials/resource-list");%>
  </main>
  <footer><%- include("./partials/footer"); %></footer>

 
</div>
<script src="/scripts/ztext.min.js"></script>
<script src="/scripts/dist/main.js"></script>