<div id="home-page">
  <header>
    <nav><%- include("./partials/navigation");%></nav>
    <%- include('./partials/header'); %>
  </header>

  <main>
    <%- include("./partials/search-form");%>
    <ul>
      <% for(const category of categories){ %>
      <li>
        <a href="<%='/r/'+category.route  %>"> <%=category.anchor %> </a>
      </li>
      <% } %>
    </ul>
  </main>
  <footer><%- include("./partials/footer"); %></footer>
</div>

